body, html{
  width: 100%;
  height: 100%;
  background-color: darkcyan;
  color:white;
  font-size: 1.4rem;
  text-align: center;
  margin: 0px;
}
#clock-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 370px;
  transform: translate(-50%, -50%);
}
h1 {
  margin: 0px;
}
.outer-flex-container{
  flex-direction: column;
  width: fit-content;
}
.flex-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
#timer-wrapper{
  border: 5px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
#timer{
  font-size: 2.4rem;
}
i{
  user-select: none;
}
i:hover{
  cursor: pointer;
}
#timer-controls{
  margin: auto;
  width: 60%;
}
